#modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #4365E2 ;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    max-width: 80%;
}

#modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
#header{

    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #4365E2 ;
    align-items: center;
    margin-bottom: 1px;

}

#body{
    padding: 10px 15px;

}

#title{color: white;
    font-size: 1.25rem;

}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}



#user-click{
    display:flex;
    justify-content: space-between;
    align-items:center;

    padding:20px;
}